table{
  width: 100%;
  font-family: MuseoSansRoundedRegular;
  text-align: center;
  thead{
    tr{
      background: $blue_top;
      color:#fff;
      td{
        padding:2em;
        font-size: 1.5em;
      }
      td:first-child{
        float:left;
      }

    }
  }
  tbody{
    tr {
      td{
        padding:1.5em;
        font-size: 1.2em;
      }
      td:first-child{
        float:left;
      }
    }
    tr:nth-child(even){
      background: #f2f2f2;
    }
  }
}
#app{
  display: flex;
  justify-content: center;
}
