/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html
{
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */

        -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body
{
    margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section
{
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1
{
    font-size: 2em;

    margin: .67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main
{
    /* 1 */
    display: block;
}
/**
 * Add the correct margin in IE 8 (removed).
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr
{
    /* 1 */
    overflow: visible;

    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers. (removed)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a
{
    background-color: transparent;
    /* 1 */

    -webkit-text-decoration-skip: objects;
    /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover
{
    outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong
{
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong
{
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn
{
    font-style: italic;
}
/**
 * Add the correct background and color in IE 9-. (Removed)
 */
/**
 * Add the correct font size in all browsers.
 */
small
{
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}
sub
{
    bottom: -.25em;
}
sup
{
    top: -.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video
{
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls])
{
    display: none;

    height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img
{
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root)
{
    overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea
{
    font-family: inherit;
    /* 1 (changed) */
    font-size: inherit;
    /* 1 (changed) */
    line-height: inherit;
    /* 1 (changed) */

    margin: 0;
    /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input
{
    /* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select
{
    /* 1 */
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
    /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}
/**
 * Restore the focus styles unset by the previous rule (removed).
 */
/**
 * Change the border, margin, and padding in all browsers (opinionated) (changed).
 */
fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend
{
    /* 2 */
    display: table;

    box-sizing: border-box;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */

    white-space: normal;
    /* 1 */

    color: inherit;
    /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea
{
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio']
{
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search']
{
    /* 1 */
    outline-offset: -2px;

    -webkit-appearance: textfield;
    /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button
{
    /* 1 */
    font: inherit;

    -webkit-appearance: button;
    /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu
{
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary
{
    display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas
{
    display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template
{
    display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden]
{
    display: none;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}
html
{
    font-size: 10px;
    line-height: 1.42857143;

    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}
body
{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;

    overflow-x: hidden;

    color: #50596c;
    background: #fff;

    text-rendering: optimizeLegibility;
}
a
{
    text-decoration: none;

    color: #5764c6;
    outline: none;
}
a:focus
{
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
a:focus,
a:hover,
a:active,
a.active
{
    text-decoration: underline;

    color: #3b49af;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 1.5rem;

    color: inherit;
}
h1
{
    font-size: 5rem;
}
h2
{
    font-size: 4rem;
}
h3
{
    font-size: 3rem;
}
h4
{
    font-size: 2.4rem;
}
h5
{
    font-size: 2rem;
}
h6
{
    font-size: 1.6rem;
}
p
{
    line-height: 2.4rem;

    margin: 0 0 1rem;
}
a,
ins,
u
{
    -webkit-text-decoration-skip: ink edges;
            text-decoration-skip: ink edges;
}
blockquote
{
    margin-left: 0;
    padding: 1rem 2rem;

    border-left: .2rem solid #f0f1f4;
}
blockquote p:last-child
{
    margin-bottom: 0;
}
blockquote cite
{
    color: #acb3c2;
}
ul,
ol
{
    margin: 2rem 0 2rem 2rem;
    padding: 0;
}
ul ul,
ol ul,
ul ol,
ol ol
{
    margin: 1.5rem 0 1.5rem 2rem;
}
ul li,
ol li
{
    margin-top: 1rem;
}
ul
{
    list-style: disc inside;
}
ul ul
{
    list-style-type: circle;
}
ol
{
    list-style: decimal inside;
}
ol ol
{
    list-style-type: lower-alpha;
}
dl dt
{
    font-weight: bold;
}
dl dd
{
    margin: .5rem 0 1.5rem 0;
}
mark
{
    line-height: 1;

    display: inline-block;

    padding: .3rem .4rem;

    vertical-align: baseline;

    color: #50596c;
    border-radius: .2rem;
    background: #ffe9b3;
}
kbd
{
    line-height: 1;

    display: inline-block;

    padding: .3rem .4rem;

    vertical-align: baseline;

    color: #fff;
    border-radius: .2rem;
    background: #454d5d;
}
abbr[title]
{
    cursor: help;
    text-decoration: none;

    border-bottom: .1rem dotted;
}
:lang(zh),
:lang(ja),
:lang(ko),
.cjk
{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Hiragino Kaku Gothic Pro', Meiryo, 'Malgun Gothic', 'Helvetica Neue', sans-serif;
}
:lang(zh) ins,
:lang(ja) ins,
.cjk ins,
:lang(zh) u,
:lang(ja) u,
.cjk u
{
    text-decoration: none;

    border-bottom: .1rem solid;
}
:lang(zh) del + del,
:lang(ja) del + del,
.cjk del + del,
:lang(zh) del + s,
:lang(ja) del + s,
.cjk del + s,
:lang(zh) ins + ins,
:lang(ja) ins + ins,
.cjk ins + ins,
:lang(zh) ins + u,
:lang(ja) ins + u,
.cjk ins + u,
:lang(zh) s + del,
:lang(ja) s + del,
.cjk s + del,
:lang(zh) s + s,
:lang(ja) s + s,
.cjk s + s,
:lang(zh) u + ins,
:lang(ja) u + ins,
.cjk u + ins,
:lang(zh) u + u,
:lang(ja) u + u,
.cjk u + u
{
    margin-left: .125em;
}
.table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    text-align: left;
}
.table.table-striped tbody tr:nth-of-type(odd)
{
    background: #f8f9fa;
}
.table.table-hover tbody tr:hover
{
    background: #f0f1f4;
}
.table tbody tr.active,
.table.table-striped tbody tr.active
{
    background: #f0f1f4;
}
.table td
{
    padding: 1.5rem 1rem;

    border-bottom: .1rem solid #f0f1f4;
}
.table th
{
    padding: 1.5rem 1rem;

    border-bottom: .1rem solid #727e96;
}
.btn
{
    font-size: 16px;
    line-height: 2rem;

    display: inline-block;

    height: 3.2rem;
    padding: .5rem .8rem;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all .2s ease;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    color: #5764c6;
    border: .1rem solid #5764c6;
    border-radius: .2rem;
    outline: none;
    background: #fff;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.btn:focus
{
    text-decoration: none;

    background: #fbfbfe;
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
.btn:hover
{
    text-decoration: none;

    color: #fff;
    border-color: #4c59c2;
    background: #5764c6;
}
.btn:active,
.btn.active
{
    text-decoration: none;

    color: #fff;
    border-color: #3e4cb6;
    background: #4c59c2;
}
.btn[disabled],
.btn:disabled,
.btn.disabled
{
    cursor: default;
    pointer-events: none;

    opacity: .5;
}
.btn.btn-primary
{
    color: #fff;
    border-color: #4c59c2;
    background: #5764c6;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover
{
    color: #fff;
    border-color: #3e4cb6;
    background: #4452c0;
}
.btn.btn-primary:active,
.btn.btn-primary.active
{
    color: #fff;
    border-color: #3b49af;
    background: #3f4eba;
}
.btn.btn-primary.loading::after
{
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.btn.btn-link
{
    color: #5764c6;
    border-color: transparent;
    background: transparent;
}
.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link:active,
.btn.btn-link.active
{
    color: #3b49af;
}
.btn.btn-sm
{
    font-size: 1.1rem;

    height: 2.4rem;
    padding: .1rem .8rem;
}
.btn.btn-lg
{
    font-size: 1.2rem;

    height: 4rem;
    padding: .9rem .8rem;
}
.btn.btn-block
{
    display: block;

    width: 100%;
}
.btn.btn-action
{
    width: 3.2rem;
    padding-right: 0;
    padding-left: 0;
}
.btn.btn-action.btn-sm
{
    width: 2.4rem;
}
.btn.btn-action.btn-lg
{
    width: 4rem;
}
.btn.btn-clear
{
    line-height: 1.6rem;

    width: 1.6rem;
    height: 1.6rem;
    margin-right: -.2rem;
    margin-left: .4rem;
    padding: 0 .2rem;

    text-decoration: none;

    opacity: .45;
    color: currentColor;
    border: 0;
    background: transparent;
}
.btn.btn-clear:hover
{
    opacity: .85;
}
.btn.btn-clear::before
{
    content: '\2715';
}
.btn-group
{
    display: -ms-inline-flexbox;
    display: inline-flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.btn-group .btn
{
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}
.btn-group .btn:first-child:not(:last-child)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child)
{
    margin-left: -.1rem;

    border-radius: 0;
}
.btn-group .btn:last-child:not(:first-child)
{
    margin-left: -.1rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn:focus,
.btn-group .btn:hover,
.btn-group .btn:active,
.btn-group .btn.active
{
    z-index: 1;
}
.btn-group.btn-group-block
{
    display: -ms-flexbox;
    display: flex;
}
.btn-group.btn-group-block .btn
{
    -ms-flex: 1 0 0;
        flex: 1 0 0;
}
.form-group:not(:last-child)
{
    margin-bottom: 1rem;
}
.form-label
{
    display: block;

    padding: .6rem 0;
}
.form-label.label-sm
{
    padding: .2rem 0;
}
.form-label.label-lg
{
    padding: 1rem 0;
}
.form-input
{
    font-size: 16px;
    line-height: 2rem;

    position: relative;

    display: block;

    width: 100%;
    max-width: 100%;
    height: 3.2rem;
    padding: .5rem .8rem;

    transition: all .2s ease;

    color: #50596c;
    border: .1rem solid #c4c9d3;
    border-radius: .2rem;
    outline: none;
    background: #fff;
    background-image: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.form-input:focus
{
    border-color: #5764c6;
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
.form-input::-webkit-input-placeholder
{
    color: #acb3c2;
}
.form-input:-ms-input-placeholder
{
    color: #acb3c2;
}
.form-input::placeholder
{
    color: #acb3c2;
}
.form-input.input-sm
{
    font-size: 1.1rem;

    height: 2.4rem;
    padding: .1rem .8rem;
}
.form-input.input-lg
{
    font-size: 1.2rem;

    height: 4rem;
    padding: .9rem .8rem;
}
.form-input.input-inline
{
    display: inline-block;

    width: auto;

    vertical-align: middle;
}
textarea.form-input
{
    height: auto;
}
.form-input[type='file']
{
    height: auto;
}
.form-input-hint
{
    margin-top: .4rem;

    color: #acb3c2;
}
.has-success .form-input-hint,
.is-success + .form-input-hint
{
    color: #32b643;
}
.has-error .form-input-hint,
.is-error + .form-input-hint
{
    color: #e85600;
}
.form-select
{
    font-size: 16px;
    line-height: 2rem;

    width: 100%;
    padding: .5rem .8rem;

    vertical-align: middle;

    color: inherit;
    border: .1rem solid #c4c9d3;
    border-radius: .2rem;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.form-select[multiple] option
{
    padding: .2rem .4rem;
}
.form-select:not([multiple])
{
    height: 3.2rem;
    padding-right: 2.4rem;

    background: #fff url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23667189\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E') no-repeat right .75rem center / .8rem 1rem;
}
.form-select:focus
{
    border-color: #5764c6;
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
.form-select::-ms-expand
{
    display: none;
}
.form-select.select-sm
{
    font-size: 1.1rem;

    height: 2.4rem;
    padding: .1rem 2rem .1rem .6rem;
}
.form-select.select-lg
{
    font-size: 1.2rem;

    height: 4rem;
    padding: .9rem 2.4rem .9rem .8rem;
}
.has-success .form-input,
.has-success .form-select,
.form-input.is-success,
.form-select.is-success
{
    border-color: #32b643;
}
.has-success .form-input:focus,
.has-success .form-select:focus,
.form-input.is-success:focus,
.form-select.is-success:focus
{
    box-shadow: 0 0 0 .2rem rgba(50, 182, 67, .15);
}
.has-error .form-input,
.has-error .form-select,
.form-input.is-error,
.form-select.is-error
{
    border-color: #e85600;
}
.has-error .form-input:focus,
.has-error .form-select:focus,
.form-input.is-error:focus,
.form-select.is-error:focus
{
    box-shadow: 0 0 0 .2rem rgba(232, 86, 0, .15);
}
.form-input:not(:placeholder-shown):invalid
{
    border-color: #e85600;
}
.form-input:not(:placeholder-shown):invalid:focus
{
    box-shadow: 0 0 0 .2rem rgba(232, 86, 0, .15);
}
.form-input:not(:placeholder-shown):invalid + .form-input-hint
{
    color: #e85600;
}
.has-icon-left,
.has-icon-right
{
    position: relative;
}
.has-icon-left .form-icon,
.has-icon-right .form-icon
{
    position: absolute;
    top: 50%;

    min-width: 1.4rem;
    margin: 0 .8rem;

    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}
.has-icon-left .form-icon
{
    left: 0;
}
.has-icon-left .form-input
{
    padding-left: 3rem;
}
.has-icon-right .form-icon
{
    right: 0;
}
.has-icon-right .form-input
{
    padding-right: 3rem;
}
.form-checkbox,
.form-radio,
.form-switch
{
    line-height: 2rem;

    position: relative;

    display: inline-block;
}
.form-checkbox input,
.form-radio input,
.form-switch input
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: .1rem;
    height: .1rem;
    margin: -.1rem;
}
.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon
{
    border-color: #5764c6;
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon,
.form-switch input:checked + .form-icon
{
    border-color: #5764c6;
    background: #5764c6;
}
.form-checkbox .form-icon,
.form-radio .form-icon,
.form-switch .form-icon
{
    position: absolute;

    display: inline-block;

    cursor: pointer;
    transition: all .2s ease;

    border: .1rem solid #c4c9d3;
}
.form-checkbox,
.form-radio
{
    padding: .2rem 2rem;
}
.form-checkbox .form-icon,
.form-radio .form-icon
{
    top: .5rem;
    left: 0;

    width: 1.4rem;
    height: 1.4rem;

    background: #fff;
}
.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon
{
    background: #f0f1f4;
}
.form-checkbox .form-icon
{
    border-radius: .2rem;
}
.form-checkbox input:checked + .form-icon::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: .6rem;
    height: 1rem;
    margin-top: -.6rem;
    margin-left: -.3rem;

    content: '';
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);

    border: .2rem solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    background-clip: padding-box;
}
.form-checkbox input:indeterminate + .form-icon
{
    border-color: #5764c6;
    background: #5764c6;
}
.form-checkbox input:indeterminate + .form-icon::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1rem;
    height: .2rem;
    margin-top: -.1rem;
    margin-left: -.5rem;

    content: '';

    background: #fff;
}
.form-radio .form-icon
{
    border-radius: .7rem;
}
.form-radio input:checked + .form-icon::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: .4rem;
    height: .4rem;
    margin-top: -.2rem;
    margin-left: -.2rem;

    content: '';

    border-radius: .2rem;
    background: #fff;
}
.form-switch
{
    padding: .2rem 2rem .2rem 3.6rem;
}
.form-switch .form-icon
{
    top: .3rem;
    left: 0;

    width: 3rem;
    height: 1.8rem;

    border-radius: .9rem;
    background: #e7e9ed;
    background-clip: padding-box;
}
.form-switch .form-icon::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 1.6rem;
    height: 1.6rem;

    content: '';
    transition: all .2s ease;

    border-radius: .8rem;
    background: #fff;
}
.form-switch input:checked + .form-icon::before
{
    left: 1.2rem;
}
.form-switch input:active + .form-icon::before
{
    background: #f8f9fa;
}
.input-group
{
    display: -ms-flexbox;
    display: flex;
}
.input-group .input-group-addon
{
    line-height: 2rem;

    padding: .5rem .8rem;

    border: .1rem solid #c4c9d3;
    border-radius: .2rem;
    background: #f8f9fa;
}
.input-group .input-group-addon.addon-sm
{
    font-size: 1.1rem;

    padding: .1rem .8rem;
}
.input-group .input-group-addon.addon-lg
{
    font-size: 1.2rem;

    padding: .9rem .8rem;
}
.input-group .input-group-addon,
.input-group .input-group-btn
{
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}
.input-group .form-input:first-child:not(:last-child),
.input-group .form-select:first-child:not(:last-child),
.input-group .input-group-addon:first-child:not(:last-child),
.input-group .input-group-btn:first-child:not(:last-child)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-input:not(:first-child):not(:last-child),
.input-group .form-select:not(:first-child):not(:last-child),
.input-group .input-group-addon:not(:first-child):not(:last-child),
.input-group .input-group-btn:not(:first-child):not(:last-child)
{
    margin-left: -.1rem;

    border-radius: 0;
}
.input-group .form-input:last-child:not(:first-child),
.input-group .form-select:last-child:not(:first-child),
.input-group .input-group-addon:last-child:not(:first-child),
.input-group .input-group-btn:last-child:not(:first-child)
{
    margin-left: -.1rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .form-input:focus,
.input-group .form-select:focus,
.input-group .input-group-addon:focus,
.input-group .input-group-btn:focus
{
    z-index: 1;
}
.input-group .form-select
{
    width: auto;
}
.input-group.input-inline
{
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.form-input:disabled,
.form-select:disabled,
.form-input.disabled,
.form-select.disabled
{
    cursor: not-allowed;

    opacity: .5;
    background-color: #f0f1f4;
}
.form-input[readonly]
{
    background-color: #f8f9fa;
}
input:disabled + .form-icon,
input.disabled + .form-icon
{
    cursor: not-allowed;

    opacity: .5;
    background: #f0f1f4;
}
.form-switch input:disabled + .form-icon::before,
.form-switch input.disabled + .form-icon::before
{
    background: #fff;
}
.form-horizontal
{
    padding: 1rem;
}
.form-horizontal .form-group
{
    display: -ms-flexbox;
    display: flex;
}
.form-horizontal .form-checkbox,
.form-horizontal .form-radio,
.form-horizontal .form-switch
{
    margin: .4rem 0;
}
.label
{
    line-height: 1;

    display: inline-block;

    padding: .3rem .4rem;

    vertical-align: baseline;

    color: #5b657a;
    border-radius: .2rem;
    background: #f8f9fa;
}
.label.label-primary
{
    color: #fff;
    background: #5764c6;
}
.label.label-success
{
    color: #fff;
    background: #32b643;
}
.label.label-warning
{
    color: #fff;
    background: #ffb700;
}
.label.label-error
{
    color: #fff;
    background: #e85600;
}
code
{
    line-height: 1;

    display: inline-block;

    padding: .3rem .4rem;

    vertical-align: baseline;

    color: #e06870;
    border-radius: .2rem;
    background: #fdf4f4;
}
.code
{
    line-height: 2rem;

    position: relative;

    color: #50596c;
    border-radius: .2rem;
}
.code::before
{
    font-size: 1.1rem;

    position: absolute;
    top: .2rem;
    right: 1rem;

    content: attr(data-lang);

    color: #acb3c2;
}
.code code
{
    line-height: inherit;

    display: block;
    overflow-x: auto;

    width: 100%;
    padding: 2rem;

    color: inherit;
    background: #f8f9fa;
}
.img-responsive
{
    display: block;

    max-width: 100%;
    height: auto;
}
.img-fit-cover
{
    object-fit: cover;
}
.img-fit-contain
{
    object-fit: contain;
}
.video-responsive
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    padding: 0;
}
.video-responsive::before
{
    display: block;

    padding-bottom: 56.25%;

    content: '';
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
.video-responsive video
{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.video-responsive-4-3::before
{
    padding-bottom: 75%;
}
.video-responsive-1-1::before
{
    padding-bottom: 100%;
}
.figure
{
    margin: 0 0 1rem 0;
}
.figure .figure-caption
{
    margin-top: 1rem;

    color: #727e96;
}
.container
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.container.grid-1280
{
    max-width: 130rem;
}
.container.grid-960
{
    max-width: 98rem;
}
.container.grid-480
{
    max-width: 50rem;
}
.columns
{
    display: -ms-flexbox;
    display: flex;

    margin-right: -1rem;
    margin-left: -1rem;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.columns.col-gapless
{
    margin-right: 0;
    margin-left: 0;
}
.columns.col-gapless .column
{
    padding-right: 0;
    padding-left: 0;
}
.columns.col-oneline
{
    overflow-x: auto;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.column
{
    max-width: 100%;
    padding: 1rem;

    -ms-flex: 1;
        flex: 1;
}
.column.col-12,
.column.col-11,
.column.col-10,
.column.col-9,
.column.col-8,
.column.col-7,
.column.col-6,
.column.col-5,
.column.col-4,
.column.col-3,
.column.col-2,
.column.col-1
{
    -ms-flex: none;
        flex: none;
}
.col-12
{
    width: 100%;
}
.col-11
{
    width: 91.66666667%;
}
.col-10
{
    width: 83.33333333%;
}
.col-9
{
    width: 75%;
}
.col-8
{
    width: 66.66666667%;
}
.col-7
{
    width: 58.33333333%;
}
.col-6
{
    width: 50%;
}
.col-5
{
    width: 41.66666667%;
}
.col-4
{
    width: 33.33333333%;
}
.col-3
{
    width: 25%;
}
.col-2
{
    width: 16.66666667%;
}
.col-1
{
    width: 8.33333333%;
}
@media screen and (max-width: 1280px)
{
    .col-xl-12,
    .col-xl-11,
    .col-xl-10,
    .col-xl-9,
    .col-xl-8,
    .col-xl-7,
    .col-xl-6,
    .col-xl-5,
    .col-xl-4,
    .col-xl-3,
    .col-xl-2,
    .col-xl-1
    {
        -ms-flex: none;
            flex: none;
    }
    .col-xl-12
    {
        width: 100%;
    }
    .col-xl-11
    {
        width: 91.66666667%;
    }
    .col-xl-10
    {
        width: 83.33333333%;
    }
    .col-xl-9
    {
        width: 75%;
    }
    .col-xl-8
    {
        width: 66.66666667%;
    }
    .col-xl-7
    {
        width: 58.33333333%;
    }
    .col-xl-6
    {
        width: 50%;
    }
    .col-xl-5
    {
        width: 41.66666667%;
    }
    .col-xl-4
    {
        width: 33.33333333%;
    }
    .col-xl-3
    {
        width: 25%;
    }
    .col-xl-2
    {
        width: 16.66666667%;
    }
    .col-xl-1
    {
        width: 8.33333333%;
    }
}
@media screen and (max-width: 960px)
{
    .col-lg-12,
    .col-lg-11,
    .col-lg-10,
    .col-lg-9,
    .col-lg-8,
    .col-lg-7,
    .col-lg-6,
    .col-lg-5,
    .col-lg-4,
    .col-lg-3,
    .col-lg-2,
    .col-lg-1
    {
        -ms-flex: none;
            flex: none;
    }
    .col-lg-12
    {
        width: 100%;
    }
    .col-lg-11
    {
        width: 91.66666667%;
    }
    .col-lg-10
    {
        width: 83.33333333%;
    }
    .col-lg-9
    {
        width: 75%;
    }
    .col-lg-8
    {
        width: 66.66666667%;
    }
    .col-lg-7
    {
        width: 58.33333333%;
    }
    .col-lg-6
    {
        width: 50%;
    }
    .col-lg-5
    {
        width: 41.66666667%;
    }
    .col-lg-4
    {
        width: 33.33333333%;
    }
    .col-lg-3
    {
        width: 25%;
    }
    .col-lg-2
    {
        width: 16.66666667%;
    }
    .col-lg-1
    {
        width: 8.33333333%;
    }
}
@media screen and (max-width: 840px)
{
    .col-md-12,
    .col-md-11,
    .col-md-10,
    .col-md-9,
    .col-md-8,
    .col-md-7,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3,
    .col-md-2,
    .col-md-1
    {
        -ms-flex: none;
            flex: none;
    }
    .col-md-12
    {
        width: 100%;
    }
    .col-md-11
    {
        width: 91.66666667%;
    }
    .col-md-10
    {
        width: 83.33333333%;
    }
    .col-md-9
    {
        width: 75%;
    }
    .col-md-8
    {
        width: 66.66666667%;
    }
    .col-md-7
    {
        width: 58.33333333%;
    }
    .col-md-6
    {
        width: 50%;
    }
    .col-md-5
    {
        width: 41.66666667%;
    }
    .col-md-4
    {
        width: 33.33333333%;
    }
    .col-md-3
    {
        width: 25%;
    }
    .col-md-2
    {
        width: 16.66666667%;
    }
    .col-md-1
    {
        width: 8.33333333%;
    }
}
@media screen and (max-width: 600px)
{
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1
    {
        -ms-flex: none;
            flex: none;
    }
    .col-sm-12
    {
        width: 100%;
    }
    .col-sm-11
    {
        width: 91.66666667%;
    }
    .col-sm-10
    {
        width: 83.33333333%;
    }
    .col-sm-9
    {
        width: 75%;
    }
    .col-sm-8
    {
        width: 66.66666667%;
    }
    .col-sm-7
    {
        width: 58.33333333%;
    }
    .col-sm-6
    {
        width: 50%;
    }
    .col-sm-5
    {
        width: 41.66666667%;
    }
    .col-sm-4
    {
        width: 33.33333333%;
    }
    .col-sm-3
    {
        width: 25%;
    }
    .col-sm-2
    {
        width: 16.66666667%;
    }
    .col-sm-1
    {
        width: 8.33333333%;
    }
}
@media screen and (max-width: 480px)
{
    .col-xs-12,
    .col-xs-11,
    .col-xs-10,
    .col-xs-9,
    .col-xs-8,
    .col-xs-7,
    .col-xs-6,
    .col-xs-5,
    .col-xs-4,
    .col-xs-3,
    .col-xs-2,
    .col-xs-1
    {
        -ms-flex: none;
            flex: none;
    }
    .col-xs-12
    {
        width: 100%;
    }
    .col-xs-11
    {
        width: 91.66666667%;
    }
    .col-xs-10
    {
        width: 83.33333333%;
    }
    .col-xs-9
    {
        width: 75%;
    }
    .col-xs-8
    {
        width: 66.66666667%;
    }
    .col-xs-7
    {
        width: 58.33333333%;
    }
    .col-xs-6
    {
        width: 50%;
    }
    .col-xs-5
    {
        width: 41.66666667%;
    }
    .col-xs-4
    {
        width: 33.33333333%;
    }
    .col-xs-3
    {
        width: 25%;
    }
    .col-xs-2
    {
        width: 16.66666667%;
    }
    .col-xs-1
    {
        width: 8.33333333%;
    }
}
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl
{
    display: none !important;
}
@media screen and (max-width: 480px)
{
    .hide-xs
    {
        display: none !important;
    }
    .show-xs
    {
        display: block !important;
    }
}
@media screen and (max-width: 600px)
{
    .hide-sm
    {
        display: none !important;
    }
    .show-sm
    {
        display: block !important;
    }
}
@media screen and (max-width: 840px)
{
    .hide-md
    {
        display: none !important;
    }
    .show-md
    {
        display: block !important;
    }
}
@media screen and (max-width: 960px)
{
    .hide-lg
    {
        display: none !important;
    }
    .show-lg
    {
        display: block !important;
    }
}
@media screen and (max-width: 1280px)
{
    .hide-xl
    {
        display: none !important;
    }
    .show-xl
    {
        display: block !important;
    }
}
.navbar
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar .navbar-section
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1 0 0;
        flex: 1 0 0;
}
.navbar .navbar-section:last-child
{
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.navbar .navbar-center
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.navbar .navbar-brand
{
    font-size: 1.2rem;
    font-weight: 500;

    text-decoration: none;
}
.panel
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    border: .1rem solid #f0f1f4;
    border-radius: .2rem;

    -ms-flex-direction: column;
}
.panel .panel-header,
.panel .panel-footer
{
    padding: 1.5rem;

    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.panel .panel-nav
{
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.panel .panel-body
{
    overflow-y: auto;

    padding: 0 1.5rem;

    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.panel .panel-title
{
    font-size: 2rem;
}
.panel .panel-subtitle
{
    color: #bbc1cd;
}
.empty
{
    padding: 4rem;

    text-align: center;

    color: #727e96;
    border-radius: .2rem;
    background: #f8f9fa;
}
.empty .empty-title,
.empty .empty-subtitle
{
    margin: 1rem auto;
}
.empty .empty-subtitle
{
    color: #bbc1cd;
}
.empty .empty-action
{
    margin-top: 1.5rem;
}
.form-autocomplete
{
    position: relative;
}
.form-autocomplete .form-autocomplete-input
{
    display: -ms-flexbox;
    display: flex;

    height: auto;
    min-height: 3.2rem;
    padding: .1rem 0 0 .1rem;

    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.form-autocomplete .form-autocomplete-input.is-focused
{
    border-color: #5764c6;
    box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
}
.form-autocomplete .form-autocomplete-input .form-input
{
    display: inline-block;

    width: auto;
    height: 2.8rem;
    padding: .3rem .8rem;

    border-color: transparent;
    box-shadow: none;

    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}
.form-autocomplete mark
{
    font-size: 1;

    padding: .1em 0;
}
.form-autocomplete .menu
{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
}
.avatar
{
    font-size: 16px;
    font-weight: 300;
    line-height: 1;

    position: relative;

    display: inline-block;

    width: 3.2rem;
    height: 3.2rem;
    margin: 0;

    vertical-align: middle;

    color: rgba(255, 255, 255, .85);
    border-radius: 50%;
    background: #5764c6;
}
.avatar.avatar-xs
{
    font-size: .8rem;

    width: 1.6rem;
    height: 1.6rem;
}
.avatar.avatar-sm
{
    font-size: 1rem;

    width: 2.4rem;
    height: 2.4rem;
}
.avatar.avatar-lg
{
    font-size: 2rem;

    width: 4.8rem;
    height: 4.8rem;
}
.avatar.avatar-xl
{
    font-size: 2.6rem;

    width: 6.4rem;
    height: 6.4rem;
}
.avatar img
{
    position: relative;
    z-index: 100;

    width: 100%;
    height: 100%;

    border-radius: 50%;
}
.avatar .avatar-icon
{
    position: absolute;
    right: 14.64%;
    bottom: 14.64%;

    width: 50%;
    height: 50%;
    padding: .2rem;

    -ms-transform: translate(50%, 50%);
        transform: translate(50%, 50%);

    background: #fff;
}
.avatar[data-initial]::before
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    content: attr(data-initial);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    color: currentColor;
}
.badge
{
    position: relative;

    white-space: nowrap;
}
.badge[data-badge]::after,
.badge:not([data-badge])::after
{
    display: inline-block;

    content: attr(data-badge);
    -ms-transform: translate(-.2rem, -1rem);
        transform: translate(-.2rem, -1rem);

    color: #fff;
    border-radius: 1rem;
    background: #5764c6;
    background-clip: padding-box;
    box-shadow: 0 0 0 .2rem #fff;
}
.badge[data-badge]::after
{
    font-size: 1.1rem;
    line-height: 1;

    min-width: 1.8rem;
    height: 1.8rem;
    padding: .3rem .5rem;

    text-align: center;
    white-space: nowrap;
}
.badge:not([data-badge])::after,
.badge[data-badge='']::after
{
    width: .6rem;
    min-width: .6rem;
    height: .6rem;
    padding: 0;
}
.badge.btn::after
{
    position: absolute;
    top: 0;
    right: 0;

    -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
}
.badge.avatar::after
{
    position: absolute;
    z-index: 100;
    top: 14.64%;
    right: 14.64%;

    -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
}
.badge.avatar-xs::after
{
    width: .8rem;
    min-width: .8rem;
    height: .8rem;
    padding: 0;

    content: '';
}
.bar
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 1.6rem;

    border-radius: .2rem;
    background: #f0f1f4;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.bar.bar-sm
{
    height: .4rem;
}
.bar .bar-item
{
    font-size: 1.1rem;
    line-height: 1;

    position: relative;

    display: block;

    width: 0;
    height: 100%;
    padding: .2rem 0;

    text-align: center;

    color: #fff;
    background: #5764c6;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.bar .bar-item:first-child
{
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.bar .bar-item:last-child
{
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;

    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bar-slider
{
    position: relative;

    height: .2rem;
    margin: 1rem 0;
}
.bar-slider .bar-item
{
    position: absolute;
    left: 0;

    padding: 0;
}
.bar-slider .bar-item:not(:last-child):first-child
{
    z-index: 1;

    background: #f0f1f4;
}
.bar-slider .bar-slider-btn
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 1.2rem;
    height: 1.2rem;
    padding: 0;

    -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%);

    border: 0;
    border-radius: 50%;
    background: #5764c6;
}
.bar-slider .bar-slider-btn:active
{
    box-shadow: 0 0 0 .2rem #5764c6;
}
.card
{
    display: block;

    border: .1rem solid #f0f1f4;
    border-radius: .2rem;
    background: #fff;
}
.card .card-header,
.card .card-body,
.card .card-footer
{
    padding: 1.5rem;
    padding-bottom: 0;
}
.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child
{
    padding-bottom: 1.5rem;
}
.card .card-image
{
    padding-top: 1.5rem;
}
.card .card-image:first-child
{
    padding-top: 0;
}
.card .card-image:first-child img
{
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
.card .card-image:last-child img
{
    border-bottom-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.card .card-title
{
    font-size: 2rem;
}
.card .card-subtitle
{
    font-size: 1.1rem;

    color: #bbc1cd;
}
.chip
{
    display: -ms-inline-flexbox;
    display: inline-flex;

    max-width: 100%;
    height: 2.8rem;
    margin: 0 .1rem .1rem 0;
    padding: .1rem .8rem;

    vertical-align: middle;
    text-decoration: none;

    color: #727e96;
    border-radius: .2rem;
    background: #f0f1f4;

    -ms-flex-align: center;
    align-items: center;
}
.chip.active
{
    color: #fff;
    background: #5764c6;
}
.chip .avatar
{
    margin-right: .4rem;
    margin-left: -.4rem;
}
.dropdown
{
    position: relative;

    display: inline-block;
}
.dropdown .menu
{
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    animation: slide-down .2s ease 1;
}
.dropdown.dropdown-right .menu
{
    right: 0;
    left: auto;
}
.dropdown.active .menu,
.dropdown .dropdown-toggle:focus + .menu,
.dropdown .menu:hover
{
    display: block;
}
.dropdown .btn-group .dropdown-toggle:nth-last-child(2)
{
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.menu
{
    z-index: 100;

    min-width: 18rem;
    margin: 0;
    padding: 1rem;

    list-style: none;

    -ms-transform: translateY(.5rem);
        transform: translateY(.5rem);

    border-radius: .2rem;
    background: #fff;
    box-shadow: 0 .1rem .4rem rgba(69, 77, 93, .3);
}
.menu .menu-item
{
    margin-top: 0;
    padding: 0 .8rem;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
}
.menu .menu-item > a
{
    display: block;

    margin: 0 -.8rem;
    padding: .6rem .8rem;

    text-decoration: none;

    color: inherit;
    border-radius: .2rem;
}
.menu .menu-item > a:focus,
.menu .menu-item > a:hover
{
    color: #5764c6;
}
.menu .menu-item > a:active,
.menu .menu-item > a.active
{
    color: #5764c6;
    background: #fbfbfe;
}
.menu .menu-badge
{
    float: right;

    padding: .6rem 0;
}
.menu .menu-badge .btn
{
    margin-top: -.2rem;
}
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    padding: 1rem;

    opacity: 0;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.modal:target,
.modal.active
{
    z-index: 400;

    display: -ms-flexbox;
    display: flex;

    opacity: 1;
}
.modal:target .modal-overlay,
.modal.active .modal-overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    cursor: default;

    background: rgba(69, 77, 93, .5);
}
.modal:target .modal-container,
.modal.active .modal-container
{
    z-index: 1;

    max-width: 64rem;

    animation: slide-down .2s ease 1;
}
.modal.modal-sm .modal-container
{
    max-width: 32rem;
}
.modal-container
{
    display: block;

    padding: 0;

    text-align: left;

    border-radius: .2rem;
    background: #fff;
    box-shadow: 0 .4rem 1rem rgba(69, 77, 93, .3);
}
.modal-container .modal-header
{
    padding: 1.5rem;
}
.modal-container .modal-header .modal-title
{
    font-size: 1.2rem;

    margin: 0;
}
.modal-container .modal-body
{
    position: relative;

    overflow-y: auto;

    max-height: 50vh;
    padding: 1.5rem;
}
.modal-container .modal-footer
{
    padding: 1.5rem;

    text-align: right;
}
.breadcrumb,
.tab,
.pagination,
.nav
{
    margin: .5rem 0;

    list-style: none;
}
.breadcrumb
{
    padding: 1.2rem;
}
.breadcrumb .breadcrumb-item
{
    display: inline-block;

    margin: 0;
}
.breadcrumb .breadcrumb-item:last-child
{
    color: #acb3c2;
}
.breadcrumb .breadcrumb-item:not(:first-child)::before
{
    padding: 0 .4rem;

    content: '/';

    color: #e7e9ed;
}
.tab
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.tab .tab-item
{
    margin-top: 0;
}
.tab .tab-item.tab-action
{
    text-align: right;

    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
}
.tab .tab-item a
{
    display: block;

    margin-top: 0;
    padding: .6rem 1.2rem .4rem 1.2rem;

    text-decoration: none;

    color: inherit;
    border-bottom: .2rem solid transparent;
}
.tab .tab-item a:focus,
.tab .tab-item a:hover
{
    color: #5764c6;
}
.tab .tab-item.active a,
.tab .tab-item a.active
{
    color: #5764c6;
    border-bottom-color: #5764c6;
}
.tab.tab-block .tab-item
{
    text-align: center;

    -ms-flex: 1 0 0;
        flex: 1 0 0;
}
.tab.tab-block .tab-item .badge[data-badge]::after
{
    position: absolute;
    top: -.4rem;
    right: -.4rem;

    -ms-transform: translate(0, 0);
        transform: translate(0, 0);
}
.tab:not(.tab-block) .badge
{
    padding-right: .2rem;
}
.pagination
{
    display: -ms-flexbox;
    display: flex;
}
.pagination .page-item
{
    margin: 1rem .1rem;
}
.pagination .page-item span
{
    display: inline-block;

    padding: .6rem .4rem;
}
.pagination .page-item a
{
    display: inline-block;

    padding: .6rem .8rem;

    text-decoration: none;

    color: #727e96;
    border-radius: .2rem;
}
.pagination .page-item a:focus,
.pagination .page-item a:hover
{
    color: #5764c6;
}
.pagination .page-item a[disabled],
.pagination .page-item a.disabled
{
    cursor: default;
    pointer-events: none;

    opacity: .5;
}
.pagination .page-item.active a
{
    color: #fff;
    background: #5764c6;
}
.pagination .page-item.page-prev,
.pagination .page-item.page-next
{
    -ms-flex: 1 0 50%;
        flex: 1 0 50%;
}
.pagination .page-item.page-next
{
    text-align: right;
}
.pagination .page-item .page-item-title
{
    margin: 0;
}
.pagination .page-item .page-item-subtitle
{
    margin: 0;

    opacity: .5;
}
.nav
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
}
.nav .nav-item a
{
    padding: .6rem .8rem;

    text-decoration: none;

    color: #727e96;
}
.nav .nav-item a:focus,
.nav .nav-item a:hover
{
    color: #5764c6;
}
.nav .nav-item.active > a
{
    font-weight: bold;
}
.nav .nav-item.active > a:focus,
.nav .nav-item.active > a:hover
{
    color: #5764c6;
}
.nav .nav
{
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.nav .nav a
{
    color: #acb3c2;
}
.popover
{
    position: relative;

    display: inline-block;
}
.popover .popover-container
{
    position: absolute;
    z-index: 400;
    top: 0;
    left: 50%;

    width: 32rem;
    padding: 1rem;

    content: attr(data-tooltip);
    transition: transform .2s ease;
    -ms-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);

    opacity: 0;
}
.popover :focus + .popover-container,
.popover:hover .popover-container,
.popover .popover-container:hover
{
    display: block;

    -ms-transform: translate(-50%, -100%) scale(1);
        transform: translate(-50%, -100%) scale(1);

    opacity: 1;
}
.popover.popover-right .popover-container
{
    top: 50%;
    left: 100%;
}
.popover.popover-right :focus + .popover-container,
.popover.popover-right:hover .popover-container,
.popover.popover-right .popover-container:hover
{
    -ms-transform: translate(0, -50%) scale(1);
        transform: translate(0, -50%) scale(1);
}
.popover.popover-bottom .popover-container
{
    top: 100%;
    left: 50%;
}
.popover.popover-bottom :focus + .popover-container,
.popover.popover-bottom:hover .popover-container,
.popover.popover-bottom .popover-container:hover
{
    -ms-transform: translate(-50%, 0) scale(1);
        transform: translate(-50%, 0) scale(1);
}
.popover.popover-left .popover-container
{
    top: 50%;
    left: 0;
}
.popover.popover-left :focus + .popover-container,
.popover.popover-left:hover .popover-container,
.popover.popover-left .popover-container:hover
{
    -ms-transform: translate(-100%, -50%) scale(1);
        transform: translate(-100%, -50%) scale(1);
}
.popover .card
{
    border: 0;
    box-shadow: 0 .4rem 1rem rgba(69, 77, 93, .3);
}
.step
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: .5rem 0;

    list-style: none;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.step .step-item
{
    position: relative;

    min-height: 2rem;
    margin-top: 0;

    text-align: center;

    -ms-flex: 1 1 0;
        flex: 1 1 0;
}
.step .step-item:not(:first-child)::before
{
    position: absolute;
    top: .9rem;
    left: -50%;

    width: 100%;
    height: .2rem;

    content: '';

    background: #5764c6;
}
.step .step-item a
{
    display: inline-block;

    padding: 2rem 1rem 0;

    text-decoration: none;

    color: #acb3c2;
}
.step .step-item a::before
{
    position: absolute;
    z-index: 1;
    top: .4rem;
    left: 50%;

    display: block;

    width: 1.2rem;
    height: 1.2rem;

    content: '';
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);

    border: .2rem solid #fff;
    border-radius: 50%;
    background: #5764c6;
}
.step .step-item.active a::before
{
    border: .2rem solid #5764c6;
    background: #fff;
}
.step .step-item.active ~ .step-item::before
{
    background: #f0f1f4;
}
.step .step-item.active ~ .step-item a::before
{
    background: #e7e9ed;
}
.tile
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
}
.tile .tile-icon,
.tile .tile-action
{
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
}
.tile .tile-content
{
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}
.tile .tile-content:not(:first-child)
{
    padding-left: 1rem;
}
.tile .tile-content:not(:last-child)
{
    padding-right: 1rem;
}
.tile .tile-title
{
    line-height: 2rem;
}
.tile .tile-subtitle
{
    line-height: 2rem;

    color: #bbc1cd;
}
.tile.tile-centered
{
    -ms-flex-align: center;
    align-items: center;
}
.tile.tile-centered .tile-content
{
    overflow: hidden;
}
.tile.tile-centered .tile-title,
.tile.tile-centered .tile-subtitle
{
    overflow: hidden;

    margin-bottom: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.toast
{
    display: block;

    width: 100%;
    padding: 1rem;

    color: #fff;
    border: .1rem solid #454d5d;
    border-color: #454d5d;
    border-radius: .2rem;
    background: rgba(69, 77, 93, .9);
}
.toast.toast-primary
{
    border-color: #5764c6;
    background: rgba(87, 100, 198, .9);
}
.toast.toast-success
{
    border-color: #32b643;
    background: rgba(50, 182, 67, .9);
}
.toast.toast-warning
{
    border-color: #ffb700;
    background: rgba(255, 183, 0, .9);
}
.toast.toast-error
{
    border-color: #e85600;
    background: rgba(232, 86, 0, .9);
}
.toast a
{
    text-decoration: underline;

    color: #fff;
}
.toast a:focus,
.toast a:hover,
.toast a:active,
.toast a.active
{
    opacity: .75;
}
.tooltip
{
    position: relative;
}
.tooltip::after
{
    font-size: 1.1rem;

    position: absolute;
    z-index: 200;
    bottom: 100%;
    left: 50%;

    display: block;
    overflow: hidden;

    max-width: 32rem;
    padding: .4rem .8rem;

    content: attr(data-tooltip);
    transition: all .2s ease;
    -ms-transform: translate(-50%, 1rem);
        transform: translate(-50%, 1rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    border-radius: .2rem;
    background: rgba(69, 77, 93, .9);
}
.tooltip:focus::after,
.tooltip:hover::after
{
    -ms-transform: translate(-50%, -.5rem);
        transform: translate(-50%, -.5rem);

    opacity: 1;
}
.tooltip[disabled],
.tooltip.disabled
{
    pointer-events: auto;
}
.tooltip.tooltip-right::after
{
    bottom: 50%;
    left: 100%;

    -ms-transform: translate(-1rem, 50%);
        transform: translate(-1rem, 50%);
}
.tooltip.tooltip-right:focus::after,
.tooltip.tooltip-right:hover::after
{
    -ms-transform: translate(.5rem, 50%);
        transform: translate(.5rem, 50%);
}
.tooltip.tooltip-bottom::after
{
    top: 100%;
    bottom: auto;

    -ms-transform: translate(-50%, -1rem);
        transform: translate(-50%, -1rem);
}
.tooltip.tooltip-bottom:focus::after,
.tooltip.tooltip-bottom:hover::after
{
    -ms-transform: translate(-50%, .5rem);
        transform: translate(-50%, .5rem);
}
.tooltip.tooltip-left::after
{
    right: 100%;
    bottom: 50%;
    left: auto;

    -ms-transform: translate(1rem, 50%);
        transform: translate(1rem, 50%);
}
.tooltip.tooltip-left:focus::after,
.tooltip.tooltip-left:hover::after
{
    -ms-transform: translate(-.5rem, 50%);
        transform: translate(-.5rem, 50%);
}
@keyframes loading
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes slide-down
{
    0%
    {
        transform: translateY(-3rem);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0);

        opacity: 1;
    }
}
.divider,
.divider-vert
{
    position: relative;

    display: block;
}
.divider[data-content]::after,
.divider-vert[data-content]::after
{
    font-size: 1.1rem;

    display: inline-block;

    padding: 0 .8rem;

    content: attr(data-content);
    -ms-transform: translateY(-1.1rem);
        transform: translateY(-1.1rem);

    color: #e7e9ed;
    background: #fff;
}
.divider
{
    height: .1rem;
    margin: 1rem 0;

    border-top: .1rem solid #f0f1f4;
}
.divider-vert
{
    display: block;

    padding: 1rem;
}
.divider-vert::before
{
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 50%;

    display: block;

    content: '';
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);

    border-left: .1rem solid #f0f1f4;
}
.divider-vert[data-content]::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    padding: .4rem 0;

    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.loading
{
    position: relative;

    min-height: 1.6rem;

    pointer-events: none;

    color: transparent !important;
}
.loading::after
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    display: block;

    width: 1.6rem;
    height: 1.6rem;
    margin-top: -.8rem;
    margin-left: -.8rem;

    content: '';
    animation: loading 500ms infinite linear;

    border: .2rem solid #5764c6;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: .8rem;
}
.clearfix::after,
.container::after
{
    display: table;
    clear: both;

    content: '';
}
.float-left
{
    float: left !important;
}
.float-right
{
    float: right !important;
}
.rel
{
    position: relative;
}
.abs
{
    position: absolute;
}
.fixed
{
    position: fixed;
}
.centered
{
    display: block;
    float: none;

    margin-right: auto;
    margin-left: auto;
}
.mt-10
{
    margin-top: 1rem;
}
.mr-10
{
    margin-right: 1rem;
}
.mb-10
{
    margin-bottom: 1rem;
}
.ml-10
{
    margin-left: 1rem;
}
.mt-5
{
    margin-top: .5rem;
}
.mr-5
{
    margin-right: .5rem;
}
.mb-5
{
    margin-bottom: .5rem;
}
.ml-5
{
    margin-left: .5rem;
}
.pt-10
{
    padding-top: 1rem;
}
.pr-10
{
    padding-right: 1rem;
}
.pb-10
{
    padding-bottom: 1rem;
}
.pl-10
{
    padding-left: 1rem;
}
.pt-5
{
    padding-top: .5rem;
}
.pr-5
{
    padding-right: .5rem;
}
.pb-5
{
    padding-bottom: .5rem;
}
.pl-5
{
    padding-left: .5rem;
}
.block
{
    display: block;
}
.inline
{
    display: inline;
}
.inline-block
{
    display: inline-block;
}
.flex
{
    display: -ms-flexbox;
    display: flex;
}
.inline-flex
{
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.hide
{
    display: none !important;
}
.visible
{
    visibility: visible;
}
.invisible
{
    visibility: hidden;
}
.text-hide
{
    font-size: 0;
    line-height: 0;

    color: transparent;
    border: 0;
    background: transparent;
    text-shadow: none;
}
.text-assistive
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    padding: 0;

    border: 0;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-justify
{
    text-align: justify;
}
.text-lowercase
{
    text-transform: lowercase;
}
.text-uppercase
{
    text-transform: uppercase;
}
.text-capitalize
{
    text-transform: capitalize;
}
.text-normal
{
    font-weight: normal;
}
.text-bold
{
    font-weight: bold;
}
.text-italic
{
    font-style: italic;
}
.text-large
{
    font-size: 1.2em;
}
.text-ellipsis
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-clip
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: clip;
}
.text-break
{
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
            hyphens: auto;

        -ms-hyphens: auto;
}
.hand
{
    cursor: pointer;
}
.shadow-0
{
    box-shadow: 0 0 .2rem rgba(69, 77, 93, .3);
}
.shadow-1
{
    box-shadow: 0 .1rem .4rem rgba(69, 77, 93, .3);
}
.shadow-2
{
    box-shadow: 0 .2rem .6rem rgba(69, 77, 93, .3);
}
.shadow-3
{
    box-shadow: 0 .3rem .8rem rgba(69, 77, 93, .3);
}
.shadow-4
{
    box-shadow: 0 .4rem 1rem rgba(69, 77, 93, .3);
}
.rounded
{
    border-radius: .2rem;
}
.circle
{
    border-radius: 50%;
}
.fade-enter-active,
.fade-leave-active
{
    transition: opacity .5s;
}
.fade-enter,
.fade-leave-to
{
    opacity: 0;
}
.fadebx-clone-leave-active
{
    transition: all 1s;
}
.fadebx-clone-enter-active
{
    transition: all 1s;
    transition-delay: .5s;
}
.fadebx-clone-enter
{
    -ms-transform: translateY(100px);
        transform: translateY(100px);

    opacity: 0;
}
.fadebx-clone-leave-to
{
    -ms-transform: translateY(-100px);
        transform: translateY(-100px);

    opacity: 0;
}
@keyframes loadfade
{
    0%
    {
        margin-top: 0;

        opacity: 1;
    }
    100%
    {
        margin-top: 5em;

        opacity: 0;
    }
}
@keyframes loadh1
{
    0%
    {
        margin-top: -5em;

        opacity: 0;
    }
    50%
    {
        margin-top: 0;

        opacity: 1;
    }
    99%
    {
        margin-top: 0;

        opacity: 1;
    }
    100%
    {
        margin-top: -5em;

        opacity: 0;
    }
}
@keyframes loadh2
{
    0%
    {
        margin-top: -5em;

        opacity: 0;
    }
    25%
    {
        margin-top: -5em;

        opacity: 0;
    }
    50%
    {
        margin-top: 0;

        opacity: 1;
    }
    99%
    {
        margin-top: 0;

        opacity: 1;
    }
    100%
    {
        margin-top: -5em;

        opacity: 0;
    }
}
@keyframes loadp
{
    0%
    {
        margin-top: -5em;

        opacity: 0;
    }
    25%
    {
        margin-top: -5em;

        opacity: 0;
    }
    50%
    {
        margin-top: -5em;

        opacity: 0;
    }
    75%
    {
        margin-top: 0;

        opacity: 1;
    }
    99%
    {
        margin-top: 0;

        opacity: 1;
    }
    100%
    {
        margin-top: -5em;

        opacity: 0;
    }
}
@font-face
{
    font-family: MuseoSansRoundedRegular;

    src: url(../../../fonts/museosansrounded-300.otf);
}
@font-face
{
    font-family: MuseoSansRoundedBold;

    src: url(../../../fonts/museosansrounded-700.otf);
}
html
{
    font-size: 16px;
}
div
{
    font-size: 1rem;
}
p
{
    font-size: 1rem;
    line-height: 1.625rem;
}
h1
{
    font-size: 2.5rem;
    line-height: 2.8125rem;
}
h2
{
    font-size: 1.875rem;
    line-height: 2.1875rem;
}
h3
{
    font-size: 1.5625rem;
    line-height: 1.875rem;
}
h4
{
    font-size: 1.25rem;
    line-height: 1.5625rem;
}
.small
{
    font-size: .7rem;
    line-height: 1rem;
}
@media screen and (max-width: 960px)
{
    .ipa-large
    {
        font-size: 2em;
    }
    .ipa-medium
    {
        font-size: 1.5em;
    }
}
body
{
    font-family: MuseoSansRoundedRegular;
    font-size: 1rem;

    overflow-x: hidden;

    color: #50596c;
    background: #fff;

    text-rendering: optimizeLegibility;
}
.site-container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media screen and (max-width: 768px)
{
    .site-container
    {
        width: 100%;
    }
}
@media screen and (min-width: 768px)
{
    .site-container
    {
        width: 740px;
    }
}
@media screen and (min-width: 840px)
{
    .site-container
    {
        width: 820px;
    }
}
@media screen and (min-width: 960px)
{
    .site-container
    {
        width: 920px;
    }
}
@media screen and (min-width: 1280px)
{
    .site-container
    {
        width: 1200px;
    }
}
@media screen and (max-width: 768px)
{
    .mobile_menu
    {
        padding: 0;
    }
}
.top-line
{
    padding: .625em;

    color: #03a9f4;
}
.top-line .navbar-header button
{
    display: none;

    border: none;
    background: none;
}
.top-line .navbar-header button i
{
    font-size: 1em;
}
@media screen and (max-width: 768px)
{
    .top-line .navbar-header button
    {
        display: block;
    }
}
.top-line a
{
    line-height: 1.423em;

    color: #03a9f4;
}
.top-line .left-top-line
{
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}
.top-line .left-top-line p
{
    margin-bottom: 0;
}
.top-line .left-top-line p span
{
    margin-right: 1.423em;
}
.top-line .left-top-line p span i
{
    margin-right: 1rem;
}
@media screen and (max-width: 600px)
{
    .top-line .left-top-line
    {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    }
}
.top-line .right-top-line
{
    display: -ms-flexbox;
    display: flex;

    padding: 0;

    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}
.top-line .right-top-line a:first-child
{
    margin-right: 1.423em;
}
@media screen and (max-width: 600px)
{
    .top-line .right-top-line
    {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.nav_bar
{
    z-index: 10000;

    background: #03a9f4;
}
.nav_bar .nav-bar-container
{
    width: 100%;
}
.nav_bar .nav-bar-container .navbar-header
{
    float: left;

    padding: 1em;
    padding-left: 0;
}
.nav_bar .nav-bar-container .navbar-header button
{
    display: none;

    border: none;
    background: #fff;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-header button
    {
        display: block;
        float: right;

        padding: 1em;
    }
}
.nav_bar .nav-bar-container .navbar-header img
{
    width: 250px;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-header
    {
        width: 100%;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu
{
    float: left;

    width: 100%;
    margin: 0;

    cursor: pointer;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu li
{
    float: left;

    list-style: none;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu > li:last-child
{
    float: right;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu > li:last-child a
{
    padding-right: 0;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu > li:last-child
    {
        float: none;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu
{
    position: relative;

    display: -ms-flexbox;
    display: flex;
    float: left;

    box-sizing: content-box;
    margin-top: 0;

    list-style: none;

    -ms-flex-align: center;
    align-items: center;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu a
{
    font-family: MuseoSansRoundedBold;
    font-size: 1em;

    padding: 1em;

    color: #fff;
}
@media screen and (max-width: 960px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu a
    {
        font-size: .8em;

        padding: 1em;
    }
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu a
    {
        color: #000;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:first-child
{
    padding-left: 0;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:hover > a
{
    text-decoration: none;

    color: #fff;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:hover > a
    {
        color: #000;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:last-child .second-menu
{
    right: 0;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:hover .second-menu
{
    display: block;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu
{
    position: absolute;
    z-index: 1000;
    top: 100%;

    display: none;

    margin: 0;

    background: #f0f0f0;
}
@media screen and (min-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .submenu:after
    {
        font-family: FontAwesome;

        position: absolute;
        top: 0;
        right: .5em;

        display: -ms-flexbox;
        display: flex;

        height: 100%;

        content: '\f105';

        -ms-flex-align: center;
        align-items: center;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu
{
    position: relative;

    width: 14em;
    margin: 0;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu a
{
    font-family: MuseoSansRoundedRegular;

    display: block;

    padding: .7em;

    color: #000;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu .last_menu
{
    position: absolute;
    top: 0;
    left: 100%;

    display: none;

    margin: 0;

    background: #fff;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu .last_menu .li_last_menu
{
    width: 12em;
    margin: 0;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu .last_menu .li_last_menu
    {
        padding-left: 2em;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu .last_menu .li_last_menu:hover > a
{
    text-decoration: none;

    color: #03a9f4;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu
    {
        padding-left: 1em;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu:hover > a
{
    text-decoration: none;

    color: #03a9f4;
}
.nav_bar .nav-bar-container .navbar-collapse .right_menu .second-menu .li-second-menu:hover .last_menu
{
    display: block;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container .navbar-collapse .right_menu
    {
        position: absolute;
        z-index: 1000;
        top: 100%;

        float: left;
        overflow: auto;

        width: 100%;
        height: auto;
        max-height: 0;

        transition: max-height .4s ease-in-out;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu
    {
        position: unset;

        float: none;
            flex-direction: column;

        height: auto;

        background: #fff;

        -ms-flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu .second-menu
    {
        position: unset;

        display: block;

        width: 100%;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu .second-menu .li-second-menu
    {
        position: unset;

        display: -ms-flexbox;
        display: flex;
        float: none;
            flex-direction: column;

        width: 100%;
        height: auto;

        -ms-flex-direction: column;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu .second-menu .li-second-menu .last_menu
    {
        position: unset;

        display: block;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu .second-menu .li-second-menu .last_menu li
    {
        width: 100%;
    }
    .nav_bar .nav-bar-container .navbar-collapse .right_menu .sub_menu:hover .second-menu
    {
        border-top: none;
    }
}
.nav_bar .nav-bar-container .navbar-collapse .active_menu
{
    max-height: 500px;
}
@media screen and (max-width: 768px)
{
    .nav_bar .nav-bar-container
    {
        position: relative;
    }
}
.slide_container .slider
{
    position: relative;

    height: 500px;
}
.slide_container .slider .slider-ul
{
    position: absolute;

    width: 100%;
    height: 500px;
    margin: 0;
}
.slide_container .slider .slider-ul li
{
    height: 100%;
    margin-top: 0;

    list-style: none;
}
.slide_container .slider .slider-ul .slide_image_1
{
    height: 100%;

    background-image: url(../../../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.slide_container .slider .slider-ul .slide_image_2
{
    height: 100%;

    background-image: url(../../../images/3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.slide_container .slider .content-slide
{
    position: absolute;
    top: 25%;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
}
.slide_container .slider .content-slide .title-content-slide h1
{
    padding: .5em;

    color: #fff;
    background: rgba(3, 169, 244, .6);
}
@media screen and (max-width: 768px)
{
    .slide_container .slider .content-slide .title-content-slide h1
    {
        margin-right: 1em;
    }
}
.slide_container .slider .content-slide .subtitle-content-slide h2
{
    float: left;

    padding: .5em;

    color: #fff;
    background: rgba(3, 169, 244, .6);
}
@media screen and (max-width: 768px)
{
    .slide_container .slider .content-slide .subtitle-content-slide h2
    {
        margin-right: 1em;
    }
}
.slide_container .slider .content-slide .content-slide-p p
{
    float: left;

    width: 75%;
    padding: 1em;

    color: #fff;
    background: rgba(3, 169, 244, .6);
}
@media screen and (max-width: 768px)
{
    .slide_container .slider .content-slide .content-slide-p p
    {
        width: auto;
        margin-right: 1em;
    }
}
.slide_container .slider .content-slide .title-content-1
{
    display: none;
}
.slide_container .slider .content-slide .subtitle-content-1
{
    display: none;
}
.slide_container .slider .content-slide .content-content-1
{
    display: none;
}
.slide_container .slider .content-slide .title-content-2
{
    display: none;
}
.slide_container .slider .content-slide .subtitle-content-2
{
    display: none;
}
.slide_container .slider .content-slide .content-content-2
{
    display: none;
}
.slide_container .slider .content-slide .active_h1
{
    display: block;
}
.slide_container .slider .content-slide .active_h1 h1
{
    float: left;

    margin-top: -5em;

    animation-name: loadh1;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    opacity: 0;
}
.slide_container .slider .content-slide .active_h2
{
    display: block;
}
.slide_container .slider .content-slide .active_h2 h2
{
    margin-top: -5em;

    animation-name: loadh2;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    opacity: 0;
}
.slide_container .slider .content-slide .active_p
{
    display: block;
}
.slide_container .slider .content-slide .active_p p
{
    margin-top: -5em;

    animation-name: loadp;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    opacity: 0;
}
@media screen and (max-width: 768px)
{
    .slide_container .slider .content-slide
    {
        top: 15%;
    }
}
.title-section
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    justify-content: center;
}
.title-section h2
{
    font-weight: bold;

    position: relative;

    margin-bottom: 0;
    padding-bottom: 1em;

    color: #03a9f4;
}
.title-section h2::after
{
    position: absolute;
    bottom: -1px;
    left: 50%;

    width: 30px;
    height: 3px;
    margin-left: -15px;

    content: '';

    background: #03a9f4;
}
.service-home-page
{
    padding-top: 4em;
    padding-bottom: 4em;
}
.service-home-page .service-box h4
{
    margin-bottom: 0;
}
.service-home-page .service-box h4 i
{
    padding-right: 1em;

    color: #03a9f4;
}
.service-home-page .service-box p
{
    color: #03a9f4;
}
.service-home-page .img-right-service
{
    width: 100%;
}
.section
{
    padding: 3em 0 !important;
}
.section1
{
    background: #f8f9fa;
}
.feature-home-page
{
    padding-top: 4em;
    padding-bottom: 4em;

    background: #03a9f4;
}
.feature-home-page .title-section h2
{
    color: #fff;
}
.feature-home-page .title-section h2::after
{
    background: #fff;
}
.feature-home-page .feature-img
{
    display: -ms-flexbox;
    display: flex;

    padding-top: 1em;
    padding-bottom: 1em;

    -ms-flex-pack: center;
    justify-content: center;
}
.feature-home-page .feature-description
{
    color: #fff;
}
.feature-home-page .feature-description h4
{
    text-align: center;
}
.feature-home-page .feature-description p
{
    text-align: center;
}
.galary-section
{
    padding-top: 4em;
    padding-bottom: 4em;
}
.galary-section .title-filter
{
    display: -ms-flexbox;
    display: flex;

    padding: 1em;

    -ms-flex-pack: center;
    justify-content: center;
}
.galary-section .filter
{
    margin: 0;
}
.galary-section .filter li
{
    float: left;

    margin-top: 0;
    margin-left: 1em;
    padding: .5em;

    list-style: none;

    cursor: pointer;
}
.galary-section .filter li:first-child
{
    margin-left: 0;
}
.galary-section .filter .active
{
    color: #fff;
    background: #03a9f4;
}
.galary-section .inside_post
{
    position: relative;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    cursor: pointer;

    border: 1px solid #cfcfcf;

    -ms-flex-direction: column;
}
.galary-section .inside_post .address p:first-child
{
    margin-bottom: 0;
}
.galary-section .inside_post h4
{
    margin-bottom: 0;
    padding: 1em;
}
.galary-section .inside_post .info_bottom
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    padding: 1em;

    -ms-flex-direction: row;
}
@media screen and (max-width: 1280px) and (min-width: 960px)
{
    .galary-section .inside_post .info_bottom
    {
            flex-direction: column;

        -ms-flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-width: 600px)
{
    .galary-section .inside_post .info_bottom
    {
            flex-direction: column;

        -ms-flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}
.galary-section .inside_post img
{
    width: 225px;
    height: 180px;
}
.galary-section .inside_post .name
{
    width: 100%;
    padding: 1em;
    padding-top: 0;
    padding-right: 0;

    word-wrap: break-word;

    color: #000;
}
.galary-section .inside_post .name h4
{
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}
.galary-section .inside_post .name .name_bold
{
    font-weight: 700;
}
.galary-section .inside_post .name ul
{
    margin: 0;
}
.galary-section .inside_post .name ul li
{
    margin-top: 0;

    list-style: none;
}
.galary-section .inside_post .name ul li span
{
    font-weight: 700;
    line-height: 1.625rem;

    float: left;

    margin-bottom: 1em;
}
.galary-section .inside_post .name ul li div
{
    float: left;

    margin-left: 1em;
}
.galary-section .inside_post .name ul li div p
{
    color: #483e3e;
}
@media screen and (max-width: 1280px) and (min-width: 960px)
{
    .galary-section .inside_post .name
    {
        width: 225px;
    }
}
@media screen and (max-width: 600px)
{
    .galary-section .inside_post .name
    {
        width: 225px;
    }
}
.galary-section .inside_post .box-control
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    opacity: 0;

    -ms-flex-pack: center;
    justify-content: center;
}
.galary-section .inside_post .box-control .control-box
{
    position: absolute;
    top: 5em;

    display: -ms-flexbox;
    display: flex;

    width: 225px;
    margin: 0;

    -ms-flex-pack: center;
    justify-content: center;
}
.galary-section .inside_post .box-control .control-box li
{
    float: left;

    width: 40px;
    height: 40px;

    list-style: none;

    background-repeat: no-repeat;
    background-position: 0 0;
}
.galary-section .inside_post .box-control .control-box li:hover
{
    background-position: 0 -40px;
}
.galary-section .inside_post .box-control .control-box .get-info
{
    background-image: url(../../../images/media_icon_details.png);
}
.galary-section .inside_post .box-control .control-box .get-image
{
    margin-left: 1em;

    background-image: url(../../../images/media_icon_image.png);
}
.galary-section .active
{
    color: #fff;
    background: #03a9f4;
}
.galary-section .active h4
{
    color: #fff;
}
.galary-section .active p
{
    color: #fff !important;
}
.galary-section .active span
{
    color: #fff;
}
.galary-section .inside_post:hover
{
    color: #fff !important;
    background: #03a9f4;
}
.galary-section .inside_post:hover p
{
    color: #fff !important;
}
.galary-section .inside_post:hover h4
{
    color: #fff;
}
.galary-section .inside_post:hover span
{
    color: #fff;
}
.galary-section .inside_post:hover .box-control
{
    opacity: 1;
}
.galary-section .information_doctor
{
    width: 100%;
    padding: 1em;
}
.galary-section .information_doctor .button_hide
{
    float: right;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    border: 1px solid #000;
    background-image: url(../../../images/close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.galary-section .information_doctor h2
{
    text-align: center;

    color: #03a9f4;
}
.galary-section .information_doctor ul li
{
    list-style: none;

    border-bottom: 1px solid #cfcfcf;
}
.galary-section .information_doctor ul li span
{
    font-weight: bold;

    float: left;

    width: 10em;
    margin-bottom: 1rem;
}
.galary-section .information_doctor ul li .info-right
{
    float: none;
}
.galary-section .information_doctor ul li .address_info
{
    float: left;
}
.galary-section .image_doctor
{
    width: 100%;
    padding: 1em;
}
.galary-section .image_doctor .button_hide
{
    float: right;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    border: 1px solid #000;
    background-image: url(../../../images/close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.galary-section .image_doctor h2
{
    text-align: center;

    color: #03a9f4;
}
.galary-section .image_doctor img
{
    width: 100%;
}
.testimonial
{
    padding-top: 4em;
    padding-bottom: 4em;

    background: url(../../../images/background-testimonial.jpg) center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.testimonial .testimonial-box
{
    position: relative;

    overflow: hidden;

    height: 100%;
    min-height: 12em;
    max-height: 25em;

    text-align: center;
}
.testimonial .testimonial-box .box-viewport
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    justify-content: center;
}
.testimonial .testimonial-box .bx-clone
{
    position: absolute;

    width: 70%;
}
.testimonial .testimonial-box .bx-clone li
{
    position: absolute;

    list-style: none;
}
.testimonial .testimonial-box .bx-clone li h4
{
    margin-bottom: .5em;

    color: #03a9f4;
}
.testimonial .testimonial-box .bx-clone li span
{
    margin-bottom: 1.5em;
}
.testimonial .testimonial-box .bx-clone li p
{
    margin-top: 1em;
}
@media screen and (max-width: 600px)
{
    .testimonial .testimonial-box
    {
        min-height: 15em;
    }
}
.testimonial .bx-control
{
    text-align: center;
}
.testimonial .bx-control .bx-pager-item
{
    display: inline-block;

    width: 1rem;
    height: 1rem;
    margin-right: .5em;
    margin-left: .5em;

    cursor: pointer;

    border: 1px solid #cfcfcf;
    border-radius: 50%;
}
.testimonial .bx-control .active
{
    border: none;
    background: #03a9f4;
}
.appointment
{
    padding-top: 4em;
    padding-bottom: 4em;

    text-align: center;

    color: #fff;
    background: #03a9f4;
}
.appointment .title-section h2
{
    color: #fff;
}
.appointment .title-section h2:after
{
    background: #fff;
}
.latest_news
{
    padding: 4em 0;
}
.latest_news .post
{
    position: relative;

    border-bottom: 1px solid #cfcfcf;
}
.latest_news .post .small
{
    position: absolute;
    bottom: 0 ;
}
.latest_news .date-title
{
    position: relative;

    margin-top: 1em;
    margin-bottom: 1em;
}
.latest_news .date-title .date
{
    float: left;

    padding: .625em .5em;

    color: #fff;
    background: #03a9f4;
}
.latest_news .date-title .tamgiac
{
    position: absolute;
    top: 100%;

    width: 0;
    height: 0;

    border-top: 5px solid #03a9f4;
    border-right: 5px solid transparent;
}
.latest_news .Highlights_img img
{
    width: 100%;
}
.latest_news .title-page a
{
    color: #03a9f4;
}
.footer
{
    padding-top: 4em;

    background-color: #222;
}
.footer h4
{
    color: #03a9f4;
}
@media screen and (max-width: 600px)
{
    .footer h4
    {
        text-align: center;
    }
}
.footer p
{
    word-wrap: break-word;

    color: #fff;
}
.footer ul
{
    margin-left: 0;
}
.footer li
{
    float: left;

    margin: 0;
    padding-top: 0;
    padding-left: 0;

    list-style: none;

    cursor: pointer;
}
.footer li a
{
    color: #fff;
}
.footer .info li
{
    float: left;

    padding-bottom: 1em;
}
.footer .info li span
{
    margin-left: 1em;

    color: #fff;
}
.footer .info li i
{
    color: #03a9f4;
}
@media screen and (max-width: 600px)
{
    .footer .info li i
    {
        margin-left: 1em;
    }
}
.footer .coppyright
{
    padding: 1em;

    background-color: #000;
}
.footer .coppyright .coppy-left
{
    text-align: center;
}
.footer .coppyright .coppy-left a
{
    color: #fff;
}
.post_baner
{
    padding: 4em 0;

    background: url(../../../images/background-testimonial.jpg) center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.post_baner .title-container
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.post_baner .title-container .title-page
{
    width: auto;
    min-width: 30%;
    padding: 2em;

    text-align: center;

    background: #fff;
}
.post_baner .title-container .title-page h2
{
    margin: 0;

    color: #03a9f4;
}
.contentBox
{
    padding: 4em 0;
}
.contentBox .content_article_box ul
{
    margin-left: 1em;
}
.contentBox .content_article_box li
{
    margin: 1em;

    list-style: circle;

    color: #666;
}
.contentBox .content_article_box strong
{
    font-family: MuseoSansRoundedBold;

    color: #000;
}
.contentBox .content_article_box blockquote
{
    margin: 0;
    padding: 1em 0;

    text-align: center;

    background: #03a9f4;
}
.contentBox .content_article_box blockquote p
{
    color: #fff;
}
.contentBox .content_article_box a
{
    font-size: 1.1em;

    text-decoration: none;

    color: #03a9f4;
    border-bottom: 1px dotted #03a9f4;
}
.contentBox .content_article_box a:hover
{
    border-bottom: 1px solid #03a9f4;
}
.contentBox .content_article_box img
{
    width: 100%;
}
.contentBox .content_article_box table
{
    margin-bottom: 1em;
    margin-left: 1em;
}
.contentBox .content_article_box table tbody tr td
{
    padding: .8em;
}
.contentBox .content_article_box table tbody tr:nth-child(even)
{
    background: #f2f2f2;
}
.date_title
{
    position: relative;

    margin-top: 1em;
    margin-bottom: 1em;
}
.date_title .date
{
    float: left;

    padding: .625em .5em;

    color: #fff;
    background: #03a9f4;
}
.date_title .tamgiac
{
    position: absolute;
    top: 100%;

    width: 0;
    height: 0;

    border-top: 5px solid #03a9f4;
    border-right: 5px solid transparent;
}
.categories_tabs h3
{
    color: #03a9f4;
}
.list_categories
{
    margin: 0;
    margin-top: 1em;
}
.list_categories .categories_name
{
    margin: 0;

    list-style: none;
}
.list_categories .categories_name > a
{
    text-decoration: none;

    color: #000;
}
.list_categories .categories_name > a:hover
{
    text-decoration: none;
}
.list_categories .categories_name a:focus
{
    box-shadow: none;
}
.list_categories .categories_name .title_categories
{
    font-weight: bold;

    display: inline-block;

    width: 100%;
    padding: .7em 0;
    padding-left: 1em;

    border-bottom: 1px solid #cfcfcf;
}
.list_categories .categories_name > .item_categories
{
    display: none;

    margin: 0;
}
.list_categories .categories_name > .item_categories a
{
    color: #03a9f4;
}
.list_categories .categories_name > .item_categories li
{
    padding-left: 1em;

    list-style: none;
}
.list_categories .categories_name .item_categories:first-child
{
    display: block;
}
.list_article
{
    padding: 4em 0;
}
.list_article .item_article
{
    border-bottom: 1px solid #cfcfcf;
}
.list_article .item_article:hover a
{
    text-decoration: none;

    border-bottom: 1px dotted #03a9f4;
}
.list_article .content_page_list img
{
    width: 100%;
}
.list_article .content_page_list h4 a
{
    color: #03a9f4;
}
.info_one_doctor img
{
    width: 100%;
}
a:focus
{
    box-shadow: none;
}
.specialists-section
{
    padding-top: 4em;
    padding-bottom: 4em;
}
.specialists-section .list_specia
{
    font-size: .825rem;
}
.specialists-section .title-filter
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    justify-content: center;
}
.specialists-section .filter
{
    margin: 0;
}
.specialists-section .filter li
{
    float: left;

    padding: 1em;

    list-style: none;

    cursor: pointer;
}
.specialists-section .filter .active
{
    color: #fff;
    background: #03a9f4;
}
.specialists-section .inside_post
{
    position: relative;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-height: 366px;

    cursor: pointer;

    border: 1px solid #cfcfcf;

    -ms-flex-direction: column;
}
.specialists-section .inside_post h4
{
    margin-bottom: 0;
    padding: 1em;
}
.specialists-section .inside_post .info_bottom
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 1em;

    -ms-flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}
.specialists-section .inside_post img
{
    width: 225px;
    height: 180px;

    vertical-align: middle;
}
.specialists-section .inside_post .name
{
    width: 100%;
    padding: 0;

    color: #000;

    wordwrap: break-word;
}
.specialists-section .inside_post .name .name_item
{
    font-family: MuseoSansRoundedBold;
    font-weight: bold;

    padding-top: 1em;
}
.specialists-section .inside_post .name p
{
    text-align: center;
}
.specialists-section .inside_post .name h4
{
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;

    text-align: center;
}
.specialists-section .inside_post .name .name_bold
{
    font-weight: 700;
}
.specialists-section .inside_post .name .name_text
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.specialists-section .inside_post .name ul
{
    margin: 0;
}
.specialists-section .inside_post .name ul li
{
    margin-top: 0;

    list-style: none;
}
.specialists-section .inside_post .name ul li span
{
    line-height: 1.625rem;

    float: left;

    margin-bottom: 1em;
}
.specialists-section .inside_post .name ul li div
{
    float: left;

    margin-left: 1em;
}
.specialists-section .inside_post .box-control
{
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    opacity: 0;

    -ms-flex-pack: center;
    justify-content: center;
}
.specialists-section .inside_post .box-control .control-box
{
    position: absolute;
    top: 5em;

    display: -ms-flexbox;
    display: flex;

    width: 225px;
    margin: 0;

    -ms-flex-pack: center;
    justify-content: center;
}
.specialists-section .inside_post .box-control .control-box li
{
    float: left;

    width: 40px;
    height: 40px;

    list-style: none;

    background-repeat: no-repeat;
    background-position: 0 0;
}
.specialists-section .inside_post .box-control .control-box li:hover
{
    background-position: 0 -40px;
}
.specialists-section .inside_post .box-control .control-box .get-info
{
    background-image: url(../../../images/media_icon_details.png);
}
.specialists-section .inside_post .box-control .control-box .get-image
{
    margin-left: 1em;

    background-image: url(../../../images/media_icon_image.png);
}
.specialists-section .active
{
    color: #fff;
    background: #03a9f4;
}
.specialists-section .active h4
{
    color: #fff;
}
.specialists-section .active p
{
    color: #fff;
}
.specialists-section .active span
{
    color: #fff;
}
.specialists-section .inside_post:hover
{
    color: #fff !important;
    background: #03a9f4;
}
.specialists-section .inside_post:hover h4
{
    color: #fff;
}
.specialists-section .inside_post:hover p
{
    color: #fff;
}
.specialists-section .inside_post:hover span
{
    color: #fff;
}
.specialists-section .inside_post:hover .box-control
{
    opacity: 1;
}
.specialists-section .information_doctor
{
    width: 100%;
    padding: 1em;
}
.specialists-section .information_doctor .button_hide
{
    float: right;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    border: 1px solid #000;
    background-image: url(../../../images/close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.specialists-section .information_doctor h2
{
    text-align: center;

    color: #03a9f4;
}
.specialists-section .information_doctor ul li
{
    list-style: none;

    border-bottom: 1px solid #cfcfcf;
}
.specialists-section .information_doctor ul li span
{
    font-weight: bold;

    float: left;

    width: 10em;
    margin-bottom: 1rem;
}
.specialists-section .information_doctor ul li .info-right
{
    float: left;
}
.specialists-section .image_doctor
{
    width: 100%;
    padding: 1em;
}
.specialists-section .image_doctor .button_hide
{
    float: right;

    width: 30px;
    height: 30px;
    margin-left: 10px;

    border: 1px solid #000;
    background-image: url(../../../images/close_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.specialists-section .image_doctor h2
{
    text-align: center;

    color: #03a9f4;
}
.specialists-section .image_doctor img
{
    width: 100%;
}
