html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: MuseoSansRoundedRegular;
  src: url(../fonts/museosansrounded-300.otf);
}

@font-face {
  font-family: MuseoSansRoundedBold;
  src: url(../fonts/museosansrounded-700.otf);
}

table {
  width: 100%;
  font-family: MuseoSansRoundedRegular;
  text-align: center;
}

table thead tr {
  background: #03a9f4;
  color: #fff;
}

table thead tr td {
  padding: 2em;
  font-size: 1.5em;
}

table thead tr td:first-child {
  float: left;
}

table tbody tr td {
  padding: 1.5em;
  font-size: 1.2em;
}

table tbody tr td:first-child {
  float: left;
}

table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

#app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

body {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}
