<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Thống Kê</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link rel="stylesheet" href="/css/style.css"> -->
		    <link rel="stylesheet" href="{{ .Site.BaseURL }}/spectre.css">

		<script type="text/javascript" src="https://unpkg.com/vue@2.4.2">

		</script>
	</head>
	<body>
		<div class="nav_bar" >
          <div class="container mobile_menu">
            <div class="site-container">
              <div class="columns">
                <div class="nav-bar-container">
                  <div class="navbar-collapse clearfix">
                    <ul class="right_menu">
                      {{range $.Site.Data.foobar.items}}
                          <li class="sub_menu">
                            <a href={{.link}}>{{.title}}</a>
                            {{if .submenu}}
                            <ul class="second-menu">
                              {{range .submenu}}
                                <li class="li-second-menu {{.class}}">
                                  <a href={{.link}}>{{.title}}
                                  </a>
                                  {{if .submenu}}
                                  <ul class="last_menu">
                                    {{range .submenu}}
                                      <li class="li_last_menu">
                                        <a href={{.link}}>{{.title}}</a>
                                      </li>
                                    {{end}}
                                  </ul>
                                  {{end}}
                                </li>
                              {{end}}
                            </ul>
                            {{end}}
                          </li>
                      {{end}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list_categories">
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
              <li class = "categories_name">
                  <a href="/categories/{{ $name | urlize }}" class="title_categories" v-on:click="show($event)">{{ $name | upper }}
                    </a>
                    <ul class="item_categories">
                        {{range first 3 $taxonomy.Pages}}
                        <li>
                          <a href="{{ .Permalink}}">{{ .LinkTitle }}</a>
                          <div class="date_page">
                          <p class="small">  {{.Date.Format "Mon, Jan 2, 2006"}}</p>
                          </div>
                        </li>
                        {{end}}
                              {{$length := len $taxonomy.Pages}}
                              {{if gt $length 3}}
                              <li class="more"><a href="/categories/{{ $name | urlize }}">... more →
                                </a></li>
                              {{end}}
                    </ul>
              </li>
          {{end}}
          </ul>
        <ul>
			{{range .Data.Pages}}
				<li><a href="{{.Permalink}}">{{.Title}}</a></li>
			{{end}}
		</ul>

		<!-- <div id="app">
			<table>
				<thead>
				<tr>
					<td>Name</td>
					<td>Like</td>
					<td>Love</td>
					<td>Haha</td>
					<td>Wow</td>
					<td>Sad</td>
					<td>Angry</td>
					<td>Sum</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="user in action_user">
					<td>{{"{{"}}user.name{{"}}"}}</td>
					<td>{{"{{"}}user.like{{"}}"}}</td>
					<td>{{"{{"}}user.love{{"}}"}}</td>
					<td>{{"{{"}}user.haha{{"}}"}}</td>
					<td>{{"{{"}}user.wow{{"}}"}}</td>
					<td>{{"{{"}}user.sad{{"}}"}}</td>
					<td>{{"{{"}}user.angry{{"}}"}}</td>
					<td>{{"{{"}}user.sum{{"}}"}}</td>

				</tr>
			</tbody>
			</table>
		</div> -->
	</body>

	<!-- <script type="text/javascript" src="/js/bundle.js">

	</script> -->
</html>
