@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  box-sizing: $type;
}
@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  -o-box-shadow: $string;
  box-shadow: $string;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
// Responsive device
// Responsive destop
@mixin responsive_desktop {
  @media screen and (min-width: #{$min_w1200}) {
    @content;
  }
}
// Responsive minidesktop
@mixin responsive_minidesktop {
  @media screen and (min-width: #{$min_w992}) {
    @content;
  }
}

// Responsive tablet
@mixin responsive_tablet {
  @media screen and (min-width: #{$min_w768}) {
    @content;
  }
}

// Responsive mobile
@mixin responsive_mobile {
  @media screen and (min-width: #{$max_w480}) and (max-width: #{$min_w768}) {
    @content;
  }
}

// Responsive mini mobile
@mixin responsive_minimobile {
  @media screen and (max-width: #{$max_w480}) {
    @content;
  }
}
