// Divice responsive
$min_w1200: 1200px;
$min_w992: 992px;
$min_w768: 768px;
$max_w480: 480px;
$w_1170: 1170px;
$w_970: 970px;
$w_750: 750px;

@font-face {
  font-family: MuseoSansRoundedRegular;
  src: url(../fonts/museosansrounded-300.otf); }

@font-face {
  font-family: MuseoSansRoundedBold;
  src: url(../fonts/museosansrounded-700.otf); }


//Color

$blue_top: #03a9f4;
$font_color: #fff;
$bg_color: rgba(3,169,244,.6);
