<!DOCTYPE html>
<html>
	<head>
	<meta name="generator" content="Hugo 0.24.1" />
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="https://unpkg.com/vue@2.4.2">

		</script>
	</head>
	<body>
		<h1>Hello World</h1>
		<div id="app">
			{{value}}
			<div class="content">
				<ul>
					
					<li>
						<a href="http://example.org/page/about/hello-world.en/">Hello world</a>
						</li>

					
					<li>
						<a href="http://example.org/page/about/day-la-post-moi.en/">New post</a>
						</li>

					
					<li>
						<a href="http://example.org/page/about/new-post.en/">New post</a>
						</li>

					
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/component.js">

	</script>
</html>
