<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="post_baner">
  <div class="container">
    <div class="site-container">
      <div class="columns">
        <div class="column col-12">
          <div class="title-container">
            <div class="title-page">
              <h2>{{.Title}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentBox" id="content">
  <div class="container">
    <div class="site-container">
      <div class="columns">

        <div class="column col-8 col-md-12">
          <div class="date_title clearfix">
            <div class="date">
              {{.Date.Format "Jan 2, 2006"}}
            </div>
            <div class="tamgiac">

            </div>

          </div>
          <div class="content_article_box">
            {{ .Content }}
          </div>
        </div>
        <div class="column col-4 col-md-12 categories_tabs">
          <h3>Categories</h3>
          <ul class="list_categories">
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
              <li class = "categories_name">
                  <a href="/categories/{{ $name | urlize }}" class="title_categories" v-on:click="show($event)">{{ $name | upper }}
                    </a>
                    <ul class="item_categories">
                        {{range first 3 $taxonomy.Pages}}
                        <li>
                          <a href="{{ .Permalink}}">{{ .LinkTitle }}</a>
                          <div class="date_page">
                          <p class="small">  {{.Date.Format "Mon, Jan 2, 2006"}}</p>
                          </div>
                        </li>
                        {{end}}
                              {{$length := len $taxonomy.Pages}}
                              {{if gt $length 3}}
                              <li class="more"><a href="/categories/{{ $name | urlize }}">... more →
                                </a></li>
                              {{end}}
                    </ul>
              </li>
          {{end}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>