.container {
  padding-left: 15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
  @include responsive_desktop {
    width: $w_1170;
  }
  @include responsive_minidesktop {
    width: $w_970;
  }
  @include responsive_tablet {
    width: $w_750;
  }
}
body{
  @media screen and (max-width: 768px){
    font-size: 10px;
  }
  @include responsive_tablet{
    font-size: 12px;
  }
  @include responsive_minidesktop{
    font-size: 13px;
  }
  @include responsive_desktop{
    font-size: 14px;
  }
  font-size: 14px;

}
.clearfix::after{
  clear:both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}
